<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/assets/style.css">
    </head>
    <body background="/assets/desert.jpg" class="img-bg">
        <h1 style="color: white" class="status-page-title">Not Found</h1>
    </body>
</html>
