<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/assets/style.css">
    </head>
    <body background="/assets/burning.jpg" class="img-bg">
        <h1 style="color: black" class="status-page-title">Internal Server Error</h1>
    </body>
</html>
