body {
    font-family: cursive;
    margin: 4em;
}

.img-bg {
    background-size: cover;
}

.status-page-title {
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    font-size: xxx-large;
}

.paginator {
    text-align: center;
    background: #fff7;
}

.paginator-item {
    background: #fff7;
}

.paginator-item-selected {
    background: #00ff0067;
}

.form-field-container > input, .form-field-container > textarea {
    width: 40em;
}
